@using AutomationShopHub.Core.Contracts;
@using AutomationShopHub.Extensions;
@using Microsoft.AspNetCore.Http;

@inject IOrderService orderService;
@inject IClientService clientService;
@inject IHttpContextAccessor HttpContextAccessor

@{
    var client = await clientService.GetClientByUserId(User.Id());
    var sessionOrderId = HttpContextAccessor.HttpContext.Session.GetString("orderId");
    int countOrderedProducts = 0;
}


<li class="nav-item">
   <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="All">All Automation</a>
</li>


@if (this.User?.Identity != null && this.User.Identity.IsAuthenticated)
{
    if (!this.User.IsInRole("Client") && !this.User.IsInRole("Agent"))
    {
        <li class="nav-item">
           <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Become">Become Client</a>
        </li>
        <li class="nav-item">
           <a class="nav-link text-dark" asp-area="Agent" asp-controller="Agent" asp-action="Become">Become Sales Agent</a>
        </li>
    }
    if (this.User.IsInRole("Client"))
    {
        <li class="nav-item">
           <a class="nav-link" asp-controller="Order" asp-action="MineOrder"><img width="30" height="30" src="https://toppng.com/uploads/preview/shopping-cart-png-image-shopping-cart-icon-sv-11562865326ta92uix1ak.png" /> </a>
           <div style="position: absolute; left: 460px; top: 0px;">
                @{
                    if (!string.IsNullOrEmpty(sessionOrderId) )
                    {
                        var OrderedProducts = await orderService.AllProductsByOrderByClientId(client.Id, sessionOrderId);
                        countOrderedProducts = OrderedProducts.TotalProductsCount;
                    }

                }
                @countOrderedProducts
           </div>
        </li>

    }
    if (this.User.IsInRole("Agent"))
    {
        <li class="nav-item">
           <a class="nav-link text-dark" asp-area="Agent" asp-controller="Product" asp-action="Mine">My Automation</a>
        </li>
        <li class="nav-item">
           <a class="nav-link text-dark" asp-area="Agent" asp-controller="Product" asp-action="Add">Add Automation Product</a>
        </li>
    }


}