@using AutomationShopHub.Core.Models.Product

@model ProductFormModel

@{
    ViewBag.Title = "Edit Product";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>


<input class="btn btn-primary mt-3" type="submit" value="Proceed" />